@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
  /* --width-data: 60px; */
  --primary-color: #458BFC;
  --secondary-color: #45E2F2;
  --warning-color: #F4BB6D;
  --success-color: #48E981;
  --error-color: #E9476F;
  --white-color: rgba(255, 255, 255, 1);
  --smoke-color: rgba(245, 245, 245, 1);
  --black-color: rgba(0, 0, 0, 70%);
  --border-radius: 5px;
  color: var(--black-color);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: 'Inconsolata', monospace;
  width: 100%;
  height: fit-content;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: .1rem;
}
code > .use{
  color: blue;
}

.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto}@media (min-width:576px){.container,.container-sm{max-width:540px}}@media (min-width:768px){.container,.container-md,.container-sm{max-width:720px}}@media (min-width:992px){.container,.container-lg,.container-md,.container-sm{max-width:960px}}@media (min-width:1200px){.container,.container-lg,.container-md,.container-sm,.container-xl{max-width:1140px}}@media (min-width:1400px){.container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{max-width:1320px}}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between
}

.simple-text::before{
  --width-data: attr(data-width) 100px;
}
.simple-text{
  max-width: var(--width-data);
}

.class {
  background: green;
}

.btn {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding: .75rem 1rem;
  border-radius: var(--border-radius);
  border-color: var(--smoke-color);
  border-width: 1px;
}

.preview-color {
  display: inline-block;
  width: fit-content;
  height: 3rem;
  padding: 1rem;
  margin: .25rem;
  border-radius: var(--border-radius);
  border:1px solid #ccc;
}


.primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.secondary {
  background-color: var(--secondary-color);
  color: var(--black-color);
}
.success {
  background-color: var(--success-color);
  color: var(--white-color);
}
.warning {
  background-color: var(--warning-color);
  color: var(--white-color);
}
.error {
  background-color: var(--error-color);
  color: var(--white-color);
}
.outline {
  background-color: transparent;
  color: var(--black-color);
  border: none;
}